<aside class="aside-menu">
  <button type="button" class="navbar-toggler aside-menu-toggler close" data-toggle="aside-menu-lg-show">
    <i class="fas fa-times"></i>
  </button>
  <%= yield :aside %>
</aside>
