<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="action_bar-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="action_bar-item">
      <%= link_to "Home", root_path %>
    </li>
  </ol>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
