<%- content_for :aside do %>
<div class="tab-content">
<div class="tab-pane p-2 active show">
  <h6>Cybros details</h6>
<div class="text-uppercase mb-1 mt-2">
<small>
<b>Feature complete %</b>
</small>
</div>
<div class="progress progress-xs">
<div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  <small><a href="https://github.com/jasl/cybros_core">source code</a></small>
</div>
</div>
<% end %>

<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="action_bar-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="action_bar-item">
      <%= link_to "Home", root_path %>
    </li>
  </ol>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
