@import "variables";

// Custom styles for this template

a.card-link,
a.card-link:hover {
  color: inherit;
  text-decoration: none;

  &:hover {
    background-color: darken($card-bg, 10%);
  }
}

.main-header-wrapper {
  margin-bottom: $main-header-margin-bottom;

  .alert {
    padding: $main-header-padding-y $main-header-padding-x;
  }
}

.c-header {
  padding: $navbar-padding-y $navbar-padding-x;

  .dropdown-menu {
    margin-top: $navbar-dropdown-margin-top;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .avatar {
    img {
      width: 34px;
      border-radius: 0 !important;
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 0;

    .c-header-brand {
      position: relative;
      left: auto;
      top: auto;
    }
  }
}


// Here you can add other styles
