<% content_for(:body_class, "c-app flex-row align-items-center") %>
<% content_for :content do %>
  <div class="container">
    <%= render "layouts/sign_in/notice" %>
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/base" %>
