<% content_for(:body_class, "app flex-row pt-4 bg-gray-100") %>
<% content_for :content do %>
  <div class="container">
    <%= render "layouts/sign_in/notice" %>
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/base" %>
